body{
    font-family: 'Roboto', sans-serif;
}

.height{
    min-height: 50vh;
}

.title-underline{
    width: 20%;
    height: 5px;
}

.height-80{
    min-height: 100vh;
}

.about-image{
    background: url(../Photos/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* parallax effects */
    background-attachment: fixed;
}

#filler{
    background: linear-gradient(to right,rgba(0,0,0,0.3),rgba(0,0,0,0.9)),url(../Photos/filler.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* parallax effects */
    background-attachment: fixed;
}